extends layout

block content
    h1= topicContents.title
    each message in topicContents.messages
        div(class="message-header") From: #{message.username} | Posted: #{message.createTime}
        div(class="message")= message.message
    a(href="/reply/#{topicContents.id}") Reply